@font-face {
  font-family: "Barlow 700";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Barlow/Barlow-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Barlow 400";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Barlow/Barlow-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Fraunces 900";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts//Fraunces/static/Fraunces_144pt-Black.ttf") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Raleway", "Arial", sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.huge-container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#hero {
  width: 100%;
  margin-top: 20px;
  background-image: url(../../../assets/images/home/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .container .hero {
  width: 100%;
  border-radius: 10px;
  padding: 117px 85px;
}
#hero .container .hero h1 {
  width: 493px;
  font-family: "Fraunces 900";
  color: #FEFCF7;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
}
#hero .container .hero p {
  width: 445px;
  color: #FEFCF7;
  font-family: "Barlow 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 32px;
  margin-bottom: 56px;
}
#hero .container .hero a {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces 900";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  padding: 15px 31px;
  border-radius: 6px;
  background-color: #0E8784;
}
@media only screen and (max-width: 650px) {
  #hero .container {
    width: 100%;
    height: 600px;
    background-image: url(../../../assets/images/home/hero-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero .container .hero {
    padding: 118px 20px;
  }
  #hero .container .hero h1 {
    font-size: 36px;
    width: 80%;
    line-height: 45px;
  }
  #hero .container .hero p {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
}

#collection {
  width: 100%;
  margin-top: 100px;
}
#collection .container .collection {
  width: 100%;
  padding-top: 100px;
  position: relative;
}
#collection .container .collection h1 {
  width: 100%;
  font-family: "Fraunces 900";
  text-align: center;
  color: #d1d2d4;
  font-size: 170px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  position: absolute;
  top: 0px;
}
#collection .container .collection .liner__gradient {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
}
#collection .container .collection .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.5%;
  position: absolute;
  top: 50px;
}
#collection .container .collection .cards .card {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#collection .container .collection .cards .card .card__image {
  width: 100%;
}
#collection .container .collection .cards .card .card__image .image {
  width: 100%;
}
#collection .container .collection .cards .card .card__text {
  width: 100%;
}
#collection .container .collection .cards .card .card__text h2 {
  color: #333D4B;
  text-align: center;
  font-family: "Fraunces 900";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
#collection .container .collection .cards .card .card__text p {
  color: #333D4B;
  text-align: center;
  font-family: "Barlow 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 15px;
  padding: 5px;
}
@media only screen and (max-width: 1051px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 150px;
  }
}
@media only screen and (max-width: 942px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 130px;
  }
}
@media only screen and (max-width: 827px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 120px;
  }
}
@media only screen and (max-width: 761px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 100px;
  }
  #collection .container .collection .cards {
    display: flex;
    flex-direction: column;
  }
  #collection .container .collection .cards .card {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 641px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 80px;
  }
  #collection .container .collection .cards {
    display: flex;
    flex-direction: column;
  }
  #collection .container .collection .cards .card {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 527px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 70px;
  }
  #collection .container .collection .cards {
    display: flex;
    flex-direction: column;
  }
  #collection .container .collection .cards .card {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 461px) {
  #collection .container {
    width: 98%;
  }
  #collection .container .collection h1 {
    font-size: 50px;
  }
  #collection .container .collection .cards {
    display: flex;
    flex-direction: column;
  }
  #collection .container .collection .cards .card {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

#choose {
  width: 100%;
  margin-top: 400px;
}
#choose .container .choose {
  width: 100%;
  background-color: #2C343E;
  padding: 120px;
  padding-bottom: 200px;
  position: relative;
}
#choose .container .choose h1 {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces 900";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
#choose .container .choose p {
  width: 540px;
  color: #FEFCF7;
  text-align: center;
  font-family: "Barlow 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 32px auto;
}
#choose .container .choose .cards {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  position: absolute;
}
#choose .container .choose .cards .card {
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #0E8784;
  padding: 5px;
}
#choose .container .choose .cards .card .card__img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#choose .container .choose .cards .card .card__img img {
  width: 50%;
  height: auto;
  margin: 10px auto;
}
#choose .container .choose .cards .card .card__text {
  width: 100%;
}
#choose .container .choose .cards .card .card__text h2 {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces 900";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-top: 15px;
}
#choose .container .choose .cards .card .card__text p {
  width: 100%;
  color: #FEFCF7;
  text-align: center;
  font-family: "Barlow 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media only screen and (max-width: 890px) {
  #choose .container {
    width: 95%;
  }
  #choose .container .choose h1 {
    font-size: 36px;
  }
  #choose .container .choose .cards {
    flex-direction: column;
    gap: 20px;
  }
  #choose .container .choose .cards .card {
    width: 100%;
    height: 200px;
    flex-direction: row;
  }
  #choose .container .choose .cards .card .card__img {
    width: 40%;
  }
  #choose .container .choose .cards .card .card__text {
    padding: 15px;
  }
}
@media only screen and (max-width: 555px) {
  #choose .container {
    width: 95%;
  }
  #choose .container .choose h1 {
    font-size: 36px;
  }
  #choose .container .choose .cards {
    flex-direction: column;
    gap: 20px;
  }
  #choose .container .choose .cards .card {
    width: 100%;
    height: 400px;
    flex-direction: column;
  }
  #choose .container .choose .cards .card .card__img {
    width: 100%;
  }
  #choose .container .choose .cards .card .card__text {
    padding: 15px;
  }
}

body {
  background-color: #FEFCF7;
}

#header {
  width: 100%;
  display: block;
}
#header .container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .header .logo {
  width: 40%;
  padding: 10px;
}
#header .container .header .logo img {
  width: 70%;
  height: auto;
}
#header .container .header .navbar {
  width: 30%;
}
#header .container .header .navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .header .navbar ul li a {
  font-family: "Barlow 700";
  color: #83888F;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  padding: 24px;
}
#header .container .header .navbar ul li .current {
  background-color: #999;
  color: #fff;
}
#header .container .header .navbar ul li a:hover {
  background-color: #999;
  color: #fff;
}/*# sourceMappingURL=main.css.map */