@font-face {
  font-family: "Barlow 700";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Barlow/Barlow-Bold.ttf") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Raleway", "Arial", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.huge-container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #FEFCF7;
}

#header {
  width: 100%;
  display: block;
}
#header .container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .header .logo {
  width: 40%;
  padding: 10px;
}
#header .container .header .logo img {
  width: 70%;
  height: auto;
}
#header .container .header .navbar {
  width: 30%;
}
#header .container .header .navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .header .navbar ul li a {
  font-family: "Barlow 700";
  color: #83888F;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  padding: 24px;
}
#header .container .header .navbar ul li .current {
  background-color: #999;
  color: #fff;
}
#header .container .header .navbar ul li a:hover {
  background-color: #999;
  color: #fff;
}
#header .container .header .navbar .menu {
  display: none;
}
@media only screen and (max-width: 1223px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 35%;
  }
}
@media only screen and (max-width: 1108px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 40%;
  }
}
@media only screen and (max-width: 974px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 45%;
  }
}
@media only screen and (max-width: 871px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 50%;
  }
}
@media only screen and (max-width: 789px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 55%;
  }
  #header .container .header .navbar ul li a {
    font-size: 10px;
  }
}
@media only screen and (max-width: 661px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .navbar {
    width: 60%;
  }
  #header .container .header .navbar ul li a {
    font-size: 9px;
    padding: 20px;
  }
}
@media only screen and (max-width: 541px) {
  #header .container {
    width: 95%;
  }
  #header .container .header .logo {
    width: 50%;
  }
  #header .container .header .logo img {
    width: 100%;
  }
  #header .container .header .navbar {
    width: 5%;
  }
  #header .container .header .navbar ul {
    display: none;
  }
  #header .container .header .navbar .menu {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */
.hero{
  margin-top: 50px;
  width: 1280px;
  height: 450px;
  content: "";
  background-image: url(./images/hero-img.png); 
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--right__h1{
  color: #FEFCF7;
font-family: Fraunces 9pt;
font-size: 40px;
font-style: normal;
}
.hero--right__p{
  width: 445px;
color: #f4f1eb;

font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.hero--right{
  margin-left: 85px;
  margin-top: -330px;
}
.commitment{
  display: flex;
  margin-top: 250px;
}
.commitment--right__img{
  margin-left: 50px;
  width: 485px;
height: 606px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 1px 1px / 100% 100% no-repeat;
}
.commitment--left{
  margin-left: 100px;
  margin-top: 100px;
}
.commitment--left__h2{
  color: #333D4B;

font-family: Fraunces 9pt;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 48px;
}
.commitment--left__p{
  width: 540px;
color: #333D4B;

font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}