#collection{
    width: 100%;
    .container{
        .collection{
            width: 100%;
            padding-top: 100px;
            h1{
                width: 100%;
                font-family: "Fraunces 900";
                text-align: center;
                background: linear-gradient(180deg, rgba(254, 252, 247, 0.00) 0%, #FEFCF7 100%);
                color: #83888F;
                font-size: 150px;
                font-style: normal;
                font-weight: 900;
                line-height: 72px; 
                background-image: url(../../../assets/images/home/Rectangle\ \(4\).png);
                background-position: center;
                
            }
        }
    }
}