body{
    background-color: #FEFCF7;
}
#header{
    width: 100%;
    display: block;
    .container{
        .header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 40%;
                padding: 10px;
                img{
                    width: 70%;
                    height: auto;
                }
            }
            .navbar{
                width: 30%;
                ul{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        a{
                            font-family: "Barlow 700";
                            color: #83888F;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 15px; 
                            letter-spacing: 0.923px;
                            text-transform: uppercase;
                            padding: 24px;
                        }
                        
                        .current{
                            background-color: #999;
                            color: #fff;
                        }
                        a:hover{
                            background-color: #999;
                            color: #fff;
                        }
                    }
                }
                .menu{
                    display: none;
                }
            }
        }
    }
    @media only screen and (max-width: 1223px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 35%;
                }
            }
            
        }
    }
    @media only screen and (max-width: 1108px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 40%;
                }
            }
            
        }
    }
    @media only screen and (max-width: 974px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 45%;
                }
            }
            
        }
    }
    @media only screen and (max-width: 871px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 50%;
                }
            }
            
        }
    }
    @media only screen and (max-width: 789px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 55%;
                    ul{
                        li{
                            a{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    @media only screen and (max-width: 661px) {
        .container{
            width: 95%;
            .header{
                .navbar{
                    width: 60%;
                    ul{
                        li{
                            a{
                                font-size: 9px;
                                padding: 20px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    @media only screen and (max-width: 541px) {
        .container{
            width: 95%;
            .header{
                .logo{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
                .navbar{
                    width: 5%;
                    ul{
                        display: none;
                    }
                    .menu{
                        display: block;
                    }
                }
            }
            
        }
    }
}
